.font-raleway{
    font-family: "Raleway", sans-serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

.font-roboto{
    font-family: "Roboto", sans-serif;
}

/* banner bg */
.my-bg{
    background: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5),rgba(3, 7, 18, 0) 100%),url('../images/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* transition */
.my-transition{
    transform: scale(1.2);
    transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);

}